@model IEnumerable<Order>
@{
	ViewData["Title"] = "Listing All Order";
}


<partial name="_HeaderPartial" />
<!-- Start Search Box  -->
<form action="" id="search-form">
    <input type="search" placeholder="search here..." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form>
<!-- End Search Box  -->
<div class="table-responsive">
    <table class="table" ">
        <thead>
            <tr>
                <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Order Id</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Items</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Totals</div>
                </th>
                @if (User.IsInRole("Admin") && User.Identity.IsAuthenticated)
                {
                    <th scope ="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase"> User </div>
                        </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="border-0 align-middle">@item.Id</td>
                    <td class="border-0 align-middle">
                        <ul style="list-style-type: none">
                            @foreach (var subitem in item.orderItems)
                            {
                                <li>@subitem.FoodItem.Name - <b style="color: red;">@subitem.Amount</b> - @subitem.Price.ToString("c")</li>
                            }
                        </ul>
                    </td>
                    <td class="border-0 align-middle">
                        @item.orderItems.Select(x => x.Price * x.Amount).Sum().ToString("c")
                    </td>
                    @if (User.IsInRole("Admin") && User.Identity.IsAuthenticated)
                    {
                        <td class="border-0 align-middle">@item.User.Name</td>
                    }
                </tr>
            }

        </tbody>
    </table>

</div>

<!-- End -->


<style>

    .table-responsive {
        width: 100%;
        overflow-x: auto;
        margin-top: 150px;
    }

    .table {
        width: 75%;
        margin-bottom: 1rem;
        color: #212529;
        border-collapse: collapse;
        margin: auto;
    }

        .table th,
        .table td {
            text-align: center;
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
            background-color: #f8f9fa;
            text-transform: uppercase;
            padding: 1rem;
        }

        .table tbody + tbody {
            border-top: 2px solid #dee2e6;
        }

        .table .border-0 {
            border: 0;
        }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .rounded {
        border-radius: 0.25rem;
    }

    .shadow-sm {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }

    .text-uppercase {
        text-transform: uppercase;
    }

    .text-dark {
        color: #343a40 !important;
    }

    .font-weight-normal {
        font-weight: 400;
    }

    .font-italic {
        font-style: italic;
    }

    .p-2 {
        padding: 0.5rem !important;
    }

    .px-3 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .py-2 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }

    .ml-3 {
        margin-left: 1rem !important;
    }

    .align-middle {
        vertical-align: middle !important;
    }

    td {
        text-align: center;
    }

        td a,
        .liks a {
            color: white;
            letter-spacing: 2px;
            background-color: orange;
            padding: 10px 15px;
            border-radius: 10px;
            margin: 10px
        }

</style>
